<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
 
{{#if logged_in}} 
  <div>
  <span>
    <label for="comments" class="form-label">Comments</label>
    <input type="text" class="form-control" name="comments" id="commentInput">
    <p>
      <button id="commentBtn" class="btn btn-primary">Submit</button>
    </p>
  </span>
    {{!-- <p>
      <button id="updateCommentBtn" class="btn btn-primary">Update</button>
      <button id="deleteCommentBtn" class="btn btn-primary">Delete</button>
    </p> --}}
  
  </div>
  {{#each comments as |comment|}}
  <h4>{{comment.comment}}</h4>
  <p>Date Created: {{comment.date_created}}</p>
  <p>User ID: {{comment.user_id}}</p>
  {{/each}}
{{/if}}
</div>

<script src="/js/comment.js"></script>
